.calendar-container {
    width: calc(100% - 100px);
    height: calc(100% - 57px);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    border-radius: 120px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-indent: none !important;
    padding-right: 10px;
    padding-left: 25px;
}


.calendar-header .icons{
    display: flex;
}

.calendar-header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child{
    margin-right: -10px;
}

.calendar-header .icons span:hover{
    background: #f2f2f2;
}

.calendar-header .current-date {
    text-transform: uppercase;
    font-size: 1.45rem;
    font-weight: 500;
    color: var(--primary-color);
    padding-top: 10px;
}

.selected-date {
    text-transform: uppercase;
    font-size: 1.45rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;
    padding-top: 10px;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
    padding: 0px;
    border: solid 1px var(--primary-color);

}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
    text-transform: uppercase;
    color: var(--primary-color);
}

.weeks {
    border-bottom: solid 1px var(--secondary-color);
    padding-left: 0px;
}

.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid 1px var(--primary-color);
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #9B59B6;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}


.selected-day-container {

    width: calc(100% - 100px);
    height: calc(100% - 57px);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 120px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);

    display: flex;
    flex-direction: column;
}

.selected-day-title {
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}

.selected-day-label {
    padding-right: 5px;
}



.events-table-element {
    width: calc(100% / 5);

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border: solid 2px var(--primary-color);
}
 
.events-table th tr {
    background: var(--secondary-color);
}
  /* Set all odd list items to a different color (zebra-stripes) */
.events-table tr:nth-child(even) {
    background: hsl(0, 0%, 85%);
}
  
  /* Darker background-color on hover */
.events-table tr:hover {
    background: #bbb;
}

.events-table {
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: none;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}