@import './constants.css';
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
header {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: center;
    justify-content: center;
    
    height: 100px;
    flex: 0 60px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 120px);
}
  
footer {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: 20px;
    flex: 0 20px;
}
    
@media (orientation: portrait) {
    main {
      flex-direction: column;
    }
}
  
@media (max-height: 600px) {
    main {
        height: 100vh;
    }

    header {
      display: none;
    }
    
    footer {
      display: none;
    }
}


.vertical-75-percent {
    position: relative;
    top: 75%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical-center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical-25-percent {
    position: relative;
    top: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    width: 100%;
    padding: 10px;
}

.logout-action-btn {
    border-radius: 5px;
    margin-top: 3px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    width: 80px;
    margin-left: 10px;
    cursor: pointer;
}

.username-display {
    margin-top: 5px;
} 

/* Footer styles */
.git-hub-link {
    float: right;
    color: var(--secondary-color);
}

.author-name {
    float: left;
}

/* Content styles */
.content {
    flex: 5;
    margin-top: 57px;
    margin-right: 25px;
    margin-left: 25px;    
}